.form-input {
    width: 100%;
}

.spread {
    width: 700%;
}

.left-align {
    padding-left: 1%;
    padding-right: 1%
}

table {
    position: 0;
    min-height: 150%;
    width: 100%;
    margin: 0 auto;
}

.left-side {
    background-color: lightgray;
    padding-left: 1%;
}

.arrow {
    transition-duration: 0.4s;
}

.arrow:hover {
    transition-duration: 1s;
    padding-inline-start: 50%;
}


.login-wrap {
    height: 100%;
}
